
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media (min-width:400px) {
    body {
        margin: 0px;
        font-family: 'Montserrat', sans-serif;

    }
    header {
        background-color: #8bca45;
        color: white;
        width: 100%;
        min-height: 400px;
        float: left;
        clear: both;
        margin-bottom: 100px;
    }
    h1 {
        margin: 5em auto;
        display: block;
        max-width: 500px;
        width: 100%;
        text-align: center;
    }
    .img-fluid {
        max-width:100%;
        width:100%;
    }
    .row {
        clear: both;
        margin-left: -15px;
        margin-right: -15px;
    }
    .container {
        width:100%;
        margin:0 auto;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
    }
    .col {
        width:100%;
        padding-left:15px;
        padding-right:15px;

    }
}
@media (min-width:700px) {
    .container {
        max-width: 680px;
    }
}
@media (min-width:900px) {
    .container {
        max-width: 890px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
    .col {
        width: 33.3%;
        float: left;
        width: calc(33.3% - 30px);
    }
}







